.App {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 40px;
  background: linear-gradient(rgb(247, 245, 245) 0%, rgb(247, 245, 245) 86%, rgb(247, 245, 245) 100%);
  min-height: 100vh;
  //background-color: pink;
}





